# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
coverage/

# Translations
*.mo
*.pot

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
.env

# virtualenv
venv/
ENV/

# Spyder project settings
.spyderproject

# Rope project settings
.ropeproject

#eclipse project files
.settings/
.project
.cproject
.pydevproject


# Elastic Beanstalk Files

.elasticbeanstalk/

#Bower
components/
bower_components/

# Third Party Files
vendor/bemat-admin/
vendor/ultimate-flat/

# NPM
node_modules

temp/
dist/