{% extends "base.html" %}

{% block content %}
<div id="authentication-box" class="authentication-style1">
	<div class="authentication-box-wrapper">
		<div class="panel panel-default">
			<div class="panel-body no-padding">
				
				<div class="authentication-header">
					<div class="logo-box logo-box-primary-light padding-top-4">
						<div class="logo">
							<b>J</b>
						</div>
					</div>
					<span>You're signed out</span>
				</div>

				<div class="authentication-body">
					<a class="btn btn-info btn-raised btn-block" href="/">Sign back in</a>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}