<div class="panel panel-default panel-divider">
  <div class="panel-heading">
    <header>
      {{ title }}
      <div
          id="additions-loading"
          class="
              panel-loading-icon
              circular-preloader-demo
              circular-preloader-demo-indeterminate
              pull-right"
          data-state="hide"
          data-toggle="circular-progress"
          data-mode="indeterminate"
          data-type="info"></div>
    </header>
  </div>

  <div class="panel-body">
    <ingredient-addition
        class="row"
        ng-repeat="ingredientAddition in ingredientAdditions"

        ingredient="ingredientAddition.ingredient"
        amount="ingredientAddition.amount"
        units="ingredientAddition.units"
        step-added="ingredientAddition.step_added"
        time-added="ingredientAddition.time_added"

        on-update-ingredient="updateIngredient(ingredientAddition, value)"
        on-update-amount="updateAmount(ingredientAddition, value)"
        on-update-units="updateUnits(ingredientAddition, value)"
        on-update-step-added="updateStepAdded(ingredientAddition, value)"
        on-update-time-added="updateTimeAdded(ingredientAddition, value)"

        on-delete="deleteIngredientAddition(ingredientAddition)"

        ingredient-resource="ingredientResource"
        ingredient-html="ingredientHtml">
    </ingredient-addition>

    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-primary" ng-click="addIngredientAddition()">
          <i class="material-icons">add_circle</i> Add Ingredient
        </button>
      </div>
    </div>
  </div>
</div>