<div class="panel panel-default panel-divider">
  <div class="panel-heading">
    <header>
      <div>
        <a href="#!/brewhouse/{{ brewhouse.id }}">{{ brewhouse.name }}</a>
        <div class="pull-right">
          <span>
            <a href="" ng-click="editBrewhouse()">
              <i class="material-icons">edit</i>
            </a>
          </span>
          <span>
            <a href="#!/brewhouse/{{ brewhouse.id }}">
              <i class="material-icons">launch</i>
            </a>
          </span>
          <span
              ng-if="brewhouse.active"
              class="label label-warning">
            Active
          </span>
          <span
              ng-if="!brewhouse.active"
              class="label label-primary">
            Ready
          </span>
        </div>
      </div>
    </header>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        <span ng-if="brewhouse.active">
          Brewhouse is currently brewing.
        </span>
        <span ng-if="!brewhouse.active">
          Brewhouse is not currently brewing.
        </span>
      </div>
    </div>

    <hr/>

    <div class="row">
      <div class="col-xs-12">
        <div ng-if="!showToken">
          <a href="" ng-click="toggleShowToken()">
            <i class="material-icons">lock</i> Show Keys
          </a>
        </div>
        <div ng-if="showToken">
          <a href="" ng-click="toggleShowToken()">
            <i class="material-icons">unlock</i> Hide Authentication Token
          </a>
          <p>{{ brewhouse.token }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
