<h2 class="text-primary">
  {{ brewery.name }}
  <a
      ng-click="addBrewhouse();"
      data-toggle="tooltip"
      data-placement="bottom"
      title="Add Brewhouse"
      data-i18n="[title]contentHeader.addBrewhouse"
      data-original-title="Add Brewhouse">
    <i class="material-icons">add_circle</i>
  </a>
</h2>
<div class="row-fluid">
  <dashboard-brewhouse
      ng-repeat="brewhouse in brewhouses"
      brewhouse="brewhouse"
      class="col-lg-6 col-xs-12">
  </dashboard-brewhouse>
</div>
