<div class="col-xs-12">
  <div class="row">
    <div class="col-xs-12 form-group">
      <ui-select
          ng-model="ingredientAddition.ingredient"
          ng-change="updateIngredientAddition()"
          theme="bootstrap">
        <ui-select-match placeholder="Ingredient Search">
          {{ $select.selected.name }}
        </ui-select-match>
        <ui-select-choices
            repeat="ingredient.id as ingredient in ingredients
                    | filter: $select.search"
            refresh="refreshIngredients($select.search)"
            refresh-delay="500">
            <div
                ng-bind-html="ingredientHTMLCompiled(ingredient)
                              | highlight: $select.search">
            </div>
        </ui-select-choices>
      </ui-select>
      <div
          id="addition-loading"
          class="
              panel-loading-icon
              circular-preloader-demo
              circular-preloader-demo-indeterminate
              pull-right"
          data-state="hide"
          data-toggle="circular-progress"
          data-mode="indeterminate"
          data-type="info"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2">
      <div class="form-group">
        <input
            name="time"
            class="form-control"
            ng-model="userAmount"
            step="0.01"
            type="number"/>
        <label>Amount</label>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="form-group">
        <select
            name="stepAddedSelector"
            id="stepAddedSelector"
            class="form-control"
            ng-options="unit.value as unit.name for unit in units"
            ng-model="ingredientAddition.units">
        </select>
        <label>Units</label>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="form-group">
        <input
            name="time"
            class="form-control"
            ng-model="ingredientAddition.time_added"
            step="1"
            type="number"
            ng-change="updateIngredientAddition()" />
        <label>Time (min)</label>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="form-group">
        <select
            name="stepAddedSelector"
            id="stepAddedSelector"
            class="form-control"
            ng-options="step.value as step.name for step in steps"
            ng-model="ingredientAddition.step_added"
            ng-change="updateIngredientAddition()">
        </select>
        <label>Step added</label>
      </div>
    </div>
    <div class="col-xs-1">
      <a href="" ng-click="removeIngredientAddition()">
        <i class="material-icons">delete</i>
      </a>
    </div>
  </div>
</div>
