<!-- Modal HTML -->
<div class="modal-header">
	<h4 class="modal-title">Launch Recipe Instance</h4>
</div>
<div class="modal-body">
	<p>Select a brewhouse to launch this recipe on.</p>
	<div class="form-group">
		<select name="brewhouseSelector" id="brewhouseSelector" class="form-control"
		 ng-options="option.name for option in brewhouses track by option.id"
		 ng-model="selectedBrewhouse"></select>
		 <label>Brewhouse</label>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary btn-flat btn-ripple" data-dismiss="modal" ng-click="cancel()">Cancel</button>
	<button type="button" class="btn btn-primary btn-flat btn-ripple" ng-click="ok()">Let's go!</button>
</div>