<div class="panel panel-default panel-divider">
  <div class="panel-heading">
    <header>
      Mash Profile
      <div
          id="loading"
          class="
              panel-loading-icon
              circular-preloader-demo
              circular-preloader-demo-indeterminate
              pull-right"
          data-state="hide"
          data-toggle="circular-progress"
          data-mode="indeterminate"
          data-type="info"></div>
    </header>
  </div>

  <div class="panel-body">
    <div class="row" ng-repeat="(idx, mashPoint) in mashPoints">
      <div class="col-xs-5">
        <div class="form-group">
          <input
              name="time"
              class="form-control"
              ng-model="mashPoint.time"
              step="1"
              type="number"
              ng-change="updateMashPoint(mashPoint)">
          <label>Time (min)</label>
        </div>
      </div>
      <div class="col-xs-5">
        <div class="form-group">
          <input
              name="time"
              class="form-control"
              ng-model="mashPoint.temperature"
              step="0.5"
              type="number"
              ng-change="updateMashPoint(mashPoint)">
          <label>Temperature (&deg;F)</label>
        </div>
      </div>
      <div class="col-xs-1">
        <a href="" ng-click="removeMashPoint(mashPoint)">
          <i class="material-icons">delete</i>
        </a>
      </div>
      <div class="col-xs-1">
        <div>
          <a
              ng-click="promoteMashPoint(mashPoint)"
              ng-if="idx !== 0">
             <i class="material-icons">keyboard_arrow_up</i>
          </a>
        </div>
        <div>
          <a
              ng-click="demoteMashPoint(mashPoint)"
              ng-if="idx !== mashPoints.length - 1">
            <i class="material-icons">keyboard_arrow_down</i>
          </a>
        </div>
      </div>
    </div>
    <button class="btn btn-primary" ng-click="addMashPoint()">
      <i class="material-icons">add_circle</i> Add Mash Point
    </button>
  </div>
</div>
