<div class="panel panel-default panel-divider">
  <div class="panel-heading">
    <header>
      <div>
        <spam class="recipe-name">{{ recipe.name }}</spam>
        <div class="pull-right">
          <a href="" ng-click="edit()">
            <i class="material-icons">create</i>
          </a>
          <a href="" ng-click="launch()">
            <i class="material-icons">launch</i>
          </a>
          <a href="" ng-click="remove()">
            <i class="material-icons text-danger">delete</i>
          </a>
        </div>
      </div>
      <p class="subhead-1 style-name">{{ style.name }}</p>
    </header>
  </div>
  <div class="panel-body">
    <p class="recipe-property">
      Number of Batches: {{ recipe.number_of_batches }}
    </p>
    <p class="recipe-property">
      Last Brewed: {{ recipe.last_brewed || "never" }}
    </p>
    <p class="recipe-property">
      Original Gravity: {{ recipe.original_gravity | number : 3 }}
    </p>
    <p class="recipe-property">
      Bitterness (IBUs): {{ recipe.ibu | number : 0 }}
    </p>
    <p class="recipe-property">
      Color (SRM):
      &nbsp;
      <span
          class="srm-circle"
          ng-style="srmColorStyle(recipe.srm)">
      </span>
      &nbsp;{{ recipe.srm | number : 1 }}
    </p>
  </div>
</div>
