<div class="panel panel-default panel-divider">
  <div class="panel-heading">
    <header>
      <div>
        {{ recipe.name }}
        <div class="pull-right">
          <a href="" ng-click="edit()">
            <i class="material-icons">pencil</i>
          </a>
          <a href="" ng-click="launch()">
            <i class="material-icons">launch</i>
          </a>
        </div>
      </div>
      <p class="subhead-1">{{ recipe.style }}</p>
    </header>
  </div>
  <div class="panel-body">
    <p ng-repeat="property in properties">
      {{ property.header }}: {{ recipe[property.name] }}
    </p>
  </div>
</div>
