<section class="page-header alternative-header">
  <ol class="breadcrumb">
    <li>Joulia</li>
    <li>Recipes</li>
  </ol>
  <div class="page-header_title">
    <h1>Recipes</h1>
  </div>
</section>

<section class="page-content">
  <div class="row-fluid">
    <recipe-card
        class="col-lg-6 col-xs-12"
        ng-repeat="recipe in recipes"
        recipe="recipe"
        mash-points="mashPointsMap[recipe.id]">
    </recipe-card>
    <div class="col-lg-6 col-xs-12">
      <a href="" ng-click="addRecipe()">
        <div class="panel panel-default panel-divider">
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-12">
                <h1 class="text-success" style="text-align:center;">
                  <i class="material-icons">add_circle</i> Add
                </h1>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
