<section
    class="page-header alternative-header"
    ng-style="{ 'background-color': srmToRGBString(recipe.srm) }">
  <ol class="breadcrumb">
    <li><a ui-sref="dashboard">Joulia</a></li>
    <li>Recipes</li>
    <li>{{ recipe.name }}</li>
  </ol>
  <div class="page-header_title">
    <h1>{{ recipe.name }}</h1>
  </div>
</section>

<section class="page-content">
  <div class="row">
    <div class="col-lg-6 col-xs-12">
      <div class="panel panel-default panel-divider">
        <div class="panel-heading">
          <header>
            Attributes
            <div
                id="attributes-loading"
                class="
                    panel-loading-icon
                    circular-preloader-demo
                    circular-preloader-demo-indeterminate
                    pull-right"
                data-state="hide"
                data-toggle="circular-progress"
                data-mode="indeterminate"
                data-type="info"></div>
          </header>
        </div>

        <div class="panel-body">
          <div class="form-group">
            <input
                name="name"
                id="name"
                class="form-control"
                ng-model="recipe.name"
                type="text">
            <label>Name</label>
          </div>

          <div>
            <recipe-property
                min-appropriate="style.low_original_gravity"
                max-appropriate="style.high_original_gravity"
                min-absolute="1.0"
                max-absolute="1.1"
                value="recipe.original_gravity">
              OG: {{ recipe.original_gravity | number : 3 }}
            </recipe-property>

            <recipe-property
                min-appropriate="style.low_final_gravity"
                max-appropriate="style.high_final_gravity"
                min-absolute="1.0"
                max-absolute="1.1"
                value="recipe.final_gravity">
              FG: {{ recipe.final_gravity | number : 3 }}
            </recipe-property>

            <recipe-property
                min-appropriate="style.low_abv"
                max-appropriate="style.high_abv"
                min-absolute="0.0"
                max-absolute="0.2"
                value="recipe.abv">
              ABV: {{ recipe.abv * 100 | number : 1 }}%
            </recipe-property>

            <recipe-property
                min-appropriate="style.low_ibu"
                max-appropriate="style.high_ibu"
                min-absolute="0"
                max-absolute="150"
                value="recipe.ibu">
              IBU: {{ recipe.ibu | number : 0 }}
            </recipe-property>

            <recipe-property
                min-appropriate="style.low_srm"
                max-appropriate="style.high_srm"
                min-absolute="0"
                max-absolute="50"
                value="recipe.srm">
              SRM:
              <i
                  class="srm-circle"
                  ng-style="{ 'background-color': srmToRGBString(recipe.srm) }">
              </i>
              &nbsp;{{ recipe.srm | number : 1 }}
            </recipe-property>
          </div>

          <div id="recipe_properties">
            <div class="form-group">
              <label>Style</label>
              <searchable-select
                  parent="recipe"
                  attribute="'style'"
                  search-resource="beerStyleSearch"
                  item-html="beerStyleHTML"
                  change="save"
                  label="'Style'">
              </searchable-select>
            </div>
            <div class="form-group">
              <input
                  name="volume"
                  id="volume"
                  class="form-control"
                  ng-model="recipe.volume"
                  step="0.1"
                  type="number"
                  ng-change="save()">
              <label>Volume (gallons)</label>
            </div>
            <div class="form-group">
              <input
                  name="brewhouse_efficiency"
                  id="brewhouse_efficiency"
                  class="form-control"
                  ng-model="recipe.brewhouse_efficiency"
                  step="0.01"
                  type="number"
                  ng-change="save()">
              <label>Brewhouse Efficiency (per-unit)</label>
            </div>
            <div class="form-group">
              <input
                  name="strike_temperature"
                  id="strike_temperature"
                  class="form-control"
                  ng-model="recipe.strike_temperature"
                  step="0.5"
                  type="number"
                  ng-change="save()">
              <label>Strike Temperature (&deg;F)</label>
            </div>
            <div class="form-group">
              <input
                  name="mashout_temperature"
                  id="mashout_temperature"
                  class="form-control"
                  ng-model="recipe.mashout_temperature"
                  step="0.5"
                  type="number"
                  ng-change="save()">
              <label>Mashout Temperature (&deg;F)</label>
            </div>
            <div class="form-group">
              <input
                  name="mashout_time"
                  id="mashout_time"
                  class="form-control"
                  ng-model="recipe.mashout_time"
                  step="1"
                  type="number"
                  ng-change="save()">
              <label>Mashout Length (seconds)</label>
            </div>
            <div class="form-group">
              <input
                  name="boil_time"
                  id="boil_time"
                  class="form-control"
                  ng-model="recipe.boil_time"
                  step="1"
                  type="number"
                  ng-change="save()">
              <label>Boil Length (seconds)</label>
            </div>
            <div class="form-group">
              <input
                  name="cool_temperature"
                  id="cool_temperature"
                  class="form-control"
                  ng-model="recipe.cool_temperature"
                  step="0.5"
                  type="number"
                  ng-change="save()">
              <label>Cooldown Temperature (&deg;F)</label>
            </div>

          </div>
        </div>
      </div>
    </div>

    <mash-profile
        class="col-lg-6 col-xs-12"
        mash-points="mashPoints"
        recipe="recipe">
    </mash-profile>
  </div>

  <div class="row">
    <ingredient-additions
        class="col-lg-6 col-xs-12"
        title="'Malt Ingredients'"
        ingredient-additions="maltIngredientAdditions"
        recipe="recipe"
        ingredient-resource="breweryResources.MaltIngredientSearch"
        ingredient-html="mashIngredientHTML"
        resource="breweryResources.MaltIngredientAddition"
        default-step="breweryResources.BREWING_STEP_CHOICES.MASH">
    </ingredient-additions>

    <ingredient-additions
        class="col-lg-6 col-xs-12"
        title="'Bittering Ingredients'"
        ingredient-additions="bitteringIngredientAdditions"
        recipe="recipe"
        ingredient-resource="breweryResources.BitteringIngredientSearch"
        ingredient-html="bitteringIngredientHTML"
        resource="breweryResources.BitteringIngredientAddition"
        default-step="breweryResources.BREWING_STEP_CHOICES.BOIL">
    </ingredient-additions>
  </div>

  <div class="row">
    <recipe-fermentation
        class="col-lg-6 col-xs-12"
        recipe="recipe">
    </recipe-fermentation>
  </div>
</section>
