.ju-btn-panel {
  width: 100%;
  height: 150px;
}

.show-sub-menu {
  display: block !important;
}

.hide-sub-menu {
  display: none !important;
}

[ng-click] {
    cursor: pointer;
}

p.recipe-property {
    margin-bottom: 5px;
}

.srm-circle {
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: middle;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}

.recipe-card {
    border-left-width: 6px;
    border-left-style: solid;
}

.delete-item:hover {
    color: #F44336
}

section.page-header.alternative-header {
  background-color: #4CAF50;
}

.text-primary {
  color: #4CAF50;
}

a {
  color: #4CAF50;
}

#page-wrapper #right-content-wrapper a {
  color: rgba(0, 0, 0, 0.5);
}

#page-wrapper #right-content-wrapper a.btn-primary {
  color: rgba(255, 255, 255, 1.0);
}

a:hover, a a:active, a:focus {
  color: #1B5E20;
}

.label-primary {
  background-color: #4CAF50;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #4CAF50;
  border-color: #4CAF50;
}

.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  color: #4CAF50 !important;
}

body.dark-header-brand .header-container .header-wrapper #header-brand .logo .logo-image,
body.dark-header .header-container .header-wrapper #header-brand .logo .logo-image {
  color: #4CAF50;
}

.btn-primary {
  background-color: #4CAF50;
  border-color: #4CAF50;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open
.dropdown-toggle.btn-primary {
  background-color: #1B5E20;
  border-color: #1B5E20;
}

.btn-primary:active:focus:not(.disabled),
.btn-primary.active:focus:not(.disabled),
.open > .dropdown-toggle.btn-primary:focus:not(.disabled),
.btn-primary:active:hover:not(.disabled),
.btn-primary.active:hover:not(.disabled),
.open > .dropdown-toggle.btn-primary:hover:not(.disabled) {
  background-color: #1B5E20;
  border-color: #1B5E20;
}

.mini-card.mini-card-primary:before {
  background-color: #4CAF50;
}

.bemat-mini-chart.bemat-mini-chart-primary svg.peity polyline {
  stroke: #4CAF50;
}

.bemat-mini-chart.bemat-mini-chart-primary svg.peity polygon {
  fill: #C8E6C9;
}

.cc-spc-primary .cc-spc-wrapper .cc-spc-bar {
  stroke: #4CAF50;
}

.panel-loading-icon {
  display: inline-block;
}

.panel-loading-icon .md-progress-circular {
  width: 40px;
  height: 40px;
}
.panel-loading-icon .md-progress-circular .md-spinner-wrapper .md-inner {
  width: 40px;
  height: 40px;
  position: relative;
}
.panel-loading-icon .md-progress-circular .md-spinner-wrapper .md-inner .md-gap {
  left: 19px;
  right: 19px;
  border-top-width: 4px;
}
.panel-loading-icon .md-progress-circular .md-spinner-wrapper .md-inner .md-left,
.panel-loading-icon .md-progress-circular .md-spinner-wrapper .md-inner .md-right {
  height: 40px;
  width: 20px;
}
.panel-loading-icon .md-progress-circular .md-spinner-wrapper .md-inner .md-left .md-half-circle,
.panel-loading-icon .md-progress-circular .md-spinner-wrapper .md-inner .md-right .md-half-circle {
  width: 40px;
  height: 40px;
  border-width: 4px;
}

.equipment-image {
  width: 100%;
}

.equipment-measurements {
  position: absolute;
  left: 0px;
  top: 200px;
  width: 100%;
}

.equipment-measurement {
  color: rgb(0, 0, 0);
  line-height: 30px;
  width: 70%;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.5);
}

.equipment-measurement .measurement-label {
  left: 0;
  font-size: 16px;
  font-weight: 300;
}

.equipment-measurement .measurement-value {
  float: right;
  font-size: 18px;
  font-weight: 500;
}

.heating-element {
  width: 50%;
  margin-left: 20%;
  position: absolute;
  top: 80%;
  stroke: #2196F3;
}

.heating-element.on {
  stroke: #F44336;
  animation: glow 3s infinite;
}

@keyframes glow {
  0% {
    stroke: rgba(244, 67, 54, 0.25);
  }
  50% {
    stroke: rgba(244, 67, 54, 1.0);
  }
  100% {
    stroke: rgba(244, 67, 54, 0.25);
  }
}
