<section id="right-content-wrapper">
	<section class="page-header alternative-header">
		<ol class="breadcrumb">
			<li>Joulia</li>
			<li>Dashboard</li>
		</ol>
		<div class="page-header_title">
			<h1>
				Dashboard
			</h1>
		</div>
		
	</section>

	<section>
		<div class="pull-right">
			<a href="" ng-click="addBrewery()"
			   data-toggle="tooltip" data-placement="bottom" title="Add Brewery Facility"
			   data-i18n="[title]contentHeader.addBrewery" data-original-title="Add Brewery Facility">
				<i class="material-icons">add_circle</i>
			</a>
		</div>
	</section>

	<section class="page-content" ng-repeat="brewery in brewerys">
		<h2>
			{{brewery.name}}
			<a href="" ng-click="addBrewhouse(brewery);"
			   data-toggle="tooltip" data-placement="bottom" title="Add Brewhouse"
			   data-i18n="[title]contentHeader.addBrewhouse" data-original-title="Add Brewhouse">
				<i class="material-icons">add_circle</i>
			</a>
		</h2>
		<div class="row-fluid">
			<div class="col-lg-6 col-xs-12" ng-repeat="brewhouse in brewhouses[brewery.id]">
				<div class="panel panel-default panel-divider">
					<div class="panel-heading">
						<header>
							<div>
								{{brewhouse.name}}
								<div class="pull-right">
									<span><a href="#!/brewhouse/{{brewhouse.id}}"><i class="material-icons">launch</i> Go To</a></span>
									<span ng-if="brewhouse.active" class="label label-warning">Active</span>
									<span ng-if="!brewhouse.active" class="label label-primary">Ready</span>
								</div>
							</div>
						</header>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-xs-12">
								<span ng-if="brewhouse.active">Brewhouse is currently brewing.</span>
								<span ng-if="!brewhouse.active">Brewhouse is not currently brewing.</span>
							</div>
						</div>
						<hr/>
						<div class="row">
							<div class="col-xs-12">
								<div ng-if="!showBrewhouseKeys[brewhouse.id]">
									<a href="" ng-click="toggleShowBrewhouseKey(brewhouse.id)">
										<i class="material-icons">lock</i> Show Keys
									</a>
								</div>
								<div ng-if="showBrewhouseKeys[brewhouse.id]">
									<a href="" ng-click="toggleShowBrewhouseKey(brewhouse.id)">
										<i class="material-icons">unlock</i> Hide Keys
									</a>
									<p>Key: {{brewhouse.key}}</p>
									<p>Secret: {{brewhouse.secret}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- /#page-content -->
</section><!-- /#right-content -->