<section class="page-header alternative-header">
  <ol class="breadcrumb">
    <li>Joulia</li>
    <li>{{ brewery.name }}</li>
    <li>{{ brewhouse.name }}</li>
  </ol>
  <div class="page-header_title">
    <h1>Brewhouse Management</h1>
  </div>
</section>

<section class="page-content" ng-if="recipeInstance.active">
  <div class="row">
    <brewhouse-terminator recipe-instance="recipeInstance.id">
    </brewhouse-terminator>

    <brewhouse-status recipe-instance="recipeInstance.id">
    </brewhouse-status>
  </div>
  <div class="row">
    <brewhouse-temperature-plots recipe-instance="recipeInstance.id">
    </brewhouse-temperature-plots>

    <brewhouse-monitoring-cards recipe-instance="recipeInstance.id">
    </brewhouse-monitoring-cards>

    <brewhouse-dials recipe-instance="recipeInstance.id">
    </brewhouse-dials>
  </div>
  <div class="row">
    <brewhouse-overrides recipe-instance="recipeInstance.id">
    </brewhouse-overrides>

    <div
        brewhouse-measurements
        recipe-instance="recipeInstance"
        class="col-lg-6 col-xs-12">
    </div>
  </div>


</section>

<brewhouse-inactive ng-if="!recipeInstance.active"></brewhouse-inactive>
