<div class="panel panel-default">
  <div class="panel-heading">
    <header>
      {{ states.statesOrdered[currentStatus.latest].name }}
    </header>
  </div>
  <div class="panel-body no-top-padding">
    <div class="row">
      <div class="col-xs-12 current-status-text">
        <p>
          {{ states.statesOrdered[currentStatus.latest].description }}
        </p>
        <p ng-if="timer" class="timer pull-right">
          Time Left: {{timer.latest | secondsToTimer}}
        </p>
      </div>
      <div class="col-xs-12 next-status-text">
        <p>Next: {{ nextStatusText(currentStatus.latest) }}</p>
      </div>
      <div class="col-xs-12 pull-right">
        <button
            class="btn btn-lg btn-info previous-state-button"
            ng-click="adjustState(-1)">
          Previous
        </button>
        <button
            class="btn btn-lg next-state-button"
            ng-class="nextStateColor"
            ng-click="adjustState(+1)">
          Next
        </button>
      </div>
    </div>
  </div>
</div>
