<header class="header-container">
  <div class="header-wrapper">
    <div id="header-toolbar">
      <ul class="toolbar toolbar-left">
        <li>
          <a
              id="sidebar-toggle"
              ng-click="toggleSidebar()"
              ng-class="toggleSidebarClass">
            <i class="material-icons">menu</i>
          </a>
        </li>
      </ul>
      <ul class="toolbar toolbar-right">
        <li>
          <a
              href="javascript:void(0);"
              id="fullscreen-toggle"
              data-toggle="tooltip"
              data-placement="bottom"
              title="Toggle Fullscreen"
              data-i18n="[title]headerToolbar.fullscreenToggle"
              data-original-title="Toggle Fullscreen"
              ng-click="toggleFullscreen()">
            <i class="material-icons">fullscreen</i>
          </a>
        </li>

        <li id="user-profile" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">
            <div class="avatar">
              <img
                  src="static/vendor/bemat-admin/img/avatar.png"
                  class="img-circle img-responsive">
            </div>
            <div class="user">
              <span class="username">{{ fullName(user) }}</span>
            </div>
          </a>
        </li><!-- /#user-profile -->
      </ul><!-- /.navbar-right -->
    </div>
  </div><!-- /#header-toolbar -->
</header>