<li class="nav-main-heading">
  <span class="sidebar-mini-hide">Equipment</span>
</li>
<li ng-repeat="brewery in brewerys">
  <a href="">
    <span class="menu-item-ico">
      <i class="material-icons">location_city</i>
    </span>
    <span class="menu-item-name">
      {{ brewery.name }}&nbsp;
      <span class="badge badge-success">
        {{ brewhouseMap[brewery.id].length }}
      </span>
    </span>
  </a>
  <ul>
    <li
        ng-repeat="brewhouse in brewhouseMap[brewery.id]"
        class="submenu-inner-wrapper open">
      <a href="#!/brewhouse/{{brewhouse.id}}">
        {{ brewhouse.name }}&nbsp;
        <span class="label label-warning" ng-if="brewhouse.active">
          Active
        </span>
      </a>
    </li>
  </ul>
</li>
