<li ng-repeat="brewery in brewerys">
  <a href="">
    <span class="menu-item-ico">
      <i class="material-icons">location_city</i>
    </span>
    <span class="menu-item-name">
      {{ brewery.name }}&nbsp;
      <span class="badge badge-success">
        {{ brewery.brewhouse.length }}
      </span>
    </span>
  </a>
  <ul>
    <li ng-repeat="brewhouse in brewhouseMap[brewery.id]">
      <a href="#!/brewhouse/{{brewhouse.id}}">
        {{ brewhouse.name }}&nbsp;
        <span class="label label-warning" ng-if="brewhouse.active">
          Active
        </span>
      </a>
    </li>
  </ul>
</li>
